
<h1>Join Now Our
Discord Community</h1>
<p>We want you to become a success story with not just quality education but much more. We provide placement assurance to ensure that you do not have to spend too much time frantically looking for jobs.
  We have a wide network of companies across India to ensure that you always have the support you need to get placed in top product-based companies.
We promise you guidance from only the best. Our handpicked team of mentors provides you with the perfect direction to excel in your dreams while helping you learn all the tricks of the trade.
The best thing about joining Skill Safari cohorts is paying after placement. We believe in outcome-based education and with a part upfront fees.Our students and team have collectively written over 5 million lines of code. That is more than enough to fill our webpage 100 times with content

</p>
